.theme-green {
    background: #3BAA6B!important;
}

.theme-yellow {
    background: #F9CB40!important;
}

.theme-red {
    background: #CC5A49!important;
}

.theme-white {
    background: #FDFFF7!important;
}

.theme-brown {
    background: #50514F!important;
}

.theme-green-font {
    color: #3BAA6B!important;
}

.theme-yellow-font {
    color: #F9CB40!important;
}

.theme-red-font {
    color: #CC5A49!important;
}

.theme-white-font {
    color: #FDFFF7!important;
}

.theme-brown-font {
    color: #50514F!important;
}

.theme-brown-border {
    border: 1px solid #50514F!important;
}
