.theme-green {
  background: #3baa6b !important;
}

.theme-yellow {
  background: #f9cb40 !important;
}

.theme-red {
  background: #cc5a49 !important;
}

.theme-white {
  background: #fdfff7 !important;
}

.theme-brown {
  background: #50514f !important;
}

.theme-green-font {
  color: #3baa6b !important;
}

.theme-yellow-font {
  color: #f9cb40 !important;
}

.theme-red-font {
  color: #cc5a49 !important;
}

.theme-white-font {
  color: #fdfff7 !important;
}

.theme-brown-font {
  color: #50514f !important;
}

.theme-brown-border {
  border: 1px solid #50514f !important;
}

.theme-red-border {
  border: 1px solid #cc5a49 !important;
}

.theme-green-border {
    border: 1px solid #3BAA6B!important;
}

.theme-brown-border-b {
    border-bottom: 1px solid #50514F!important;
}
